//- h3 Hello #{firstName} #{lastName},
//- p You, or someone else, requested an new password for this account on Aso-Ebi
//- p You can reset your password using this link. When you do nothing, your password or account will not change.

//- a(href=verificationUrl) 
//-    | #{verificationUrl}






//- html
//-    head
//-       meta(charset='utf-8')
//-       meta(http-equiv='X-UA-Compatible' content='IE=edge')
//-       meta(name='viewport' content='width=device-width, initial-scale=1')
//-       style.
//-          @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Manjari&display=swap');
//-          p {
//-          margin: 0;
//-          }
//-          .andco-email-template {
//-          background-image: url("https://test.andcowith.me/enter4.d1e01b891c281b33ef1d.png");
//-          background-repeat: no-repeat;
//-          margin: auto;
//-          font-family: 'Manjari', sans-serif !important;
//-          padding: 80px 0;
//-          }
//-          .inner {
//-          text-align: center;
//-          margin: auto;
//-          }
//-          .email-img {
//-          margin-bottom: 40px;
//-          }
//-          .inner-box {
//-          background-color: #7cbbcd;
//-          width: 500px;
//-          border-radius: 10px;
//-          text-align: center;
//-          padding: 50px 40px 30px;
//-          margin: 0px auto;
//-          }
//-          .inner-content h2 {
//-          color: #044b62;
//-          }
//-          .inner-content p {
//-          color: #fff;
//-          font-size: 20px;
//-          line-height: 33px;
//-          font-family: 'Manjari', sans-serif !important;
//-          margin: 20px 0;
//-          }
//-          .link-bg {
//-          background-color: #ffffff6b;
//-          border-radius: 6px;
//-          padding: 8px;
//-          }
//-          .link-bg a {
//-          color: #034359;
//-          font-weight: 600;
//-          word-break: break-all;
//-          font-family: 'Advent Pro', sans-serif !important;
//-          }
//-          @media(max-width:575px) {
//-          .inner-box {
//-          max-width: 80%;
//-          padding: 20px;
//-          }
//-          .email-img img {
//-          height: 40px;
//-          }
//-          .inner-content p {
//-          font-size: 14px;
//-          line-height: 20px;
//-          font-weight: unset;
//-          }
//-          .inner-content h2 {
//-          font-size: 20px;
//-          }
//-          }
//-    body.andco-email-template
//-       .inner
//-          .email-img
//-             img(src='https://test.andcowith.me/assets/images/andco_logo.png' alt='andco-log')
//-          .inner-box
//-             .inner-content
//-                h2 Hello #{firstName} #{lastName},
//-                p
//-                   | You, or someone else, requested an new password for this account on Aso-Ebi
//-                   | You can reset your password using this link. When you do nothing, your password or account will not
//-                   | change
//-             .link-bg
//-                a(href=verificationUrl)
//-                   | #{verificationUrl}
















html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style.
      @import url('https://fonts.googleapis.com/css?family=Advent+Pro|Manjari&display=swap');
      p {
      margin: 0;
      }
      .andco-email-template {
      background-image: url("https://test.andcowith.me/join_enter.37e5df5bf426977c6196.png");
      background-repeat: no-repeat;
      margin: auto;
      font-family: 'Manjari', sans-serif !important;
      padding: 80px 0;
      }
      .inner {
      text-align: center;
      margin: auto;
      }
      .email-img {
      margin-bottom: 40px;
      }
      .inner-box {
      background-color: #ebf1ec;
      width: 500px;
      border-radius: 10px;
      text-align: center;
      padding: 20px 40px;
      margin: 0px auto;
      }
      .inner-content p {
      color: #565555;
      font-size: 20px;
      line-height: 33px;
      font-weight: 600;
      font-family: 'Manjari', sans-serif !important;
      }
      .inner-box h2 {
      line-height: 33px;
      font-size: 20px;
      color: #5D8B60;
      font-weight: bold;
      font-family: 'Manjari', sans-serif !important;
      }
      .link-bg {
      background-color: #ffffff6b;
      border-radius: 6px;
      padding: 8px;
      }
      .link-bg a {
      color: #347a60;
      font-weight: 600;
      word-break: break-all;
      font-family: 'Advent Pro', sans-serif !important;
      }
      @media(max-width:575px) {
      .inner-box {
      width: 250px;
      padding: 20px;
      }
      .email-img img {
      height: 40px;
      }
      .inner-content p {
      font-size: 16px;
      line-height: 30px;
      font-weight: unset;
      }
      .inner-box h2 {
      line-height: 26px;
      font-size: 16px;
      margin: 10px;
      }
      }
  body.andco-email-template
    .inner
      .email-img
        img(src='https://test.andcowith.me/assets/images/andco_logo.png', alt='andco-log')
      .inner-box
        .inner-content
          h2 Hello , #{firstName} #{lastName}
          p
            | You or someone else, has  requested a new password for this account on andCo. You can reset your password using this link. When you do nothing, your password or account will not change.
        .link-bg
          a(href=verificationUrl)
                  | #{verificationUrl}
